<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-column">
        <div class="footer-logo">
          <div class="logo-icon">
            <span></span>
          </div>
           <p class="footer-logo"><img src="http://www.interblock.ind.br/images/Logo-Interblock.png" alt="Logo Interblock" width="145"/>
        </p></div>
        Qualidade e inovação
        em artefatos de cimento.
      </div>

      <div class="footer-column">
        <h4>Produtos</h4>
        <ul>
          <li><a href="#">Blocos</a></li>
          <li><a href="#produtos">Pavimentos</a></li>
          <li><a href="#produtos">Elementos Vazados</a></li>
          <li><a href="#produtos">Pré-Moldados</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Empresa</h4>
        <ul>
          <li><a href="#sobre">Sobre Nós</a></li>
          <li><a href="#projetos">Projetos</a></li>
          <li><a href="#">Qualidade</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Contato</h4>
        <ul>
          <li>(83) 9122-1413</li>
          <li>rh@interblock.com.br.ind</li>
          <li>Alhanadra - PB </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
    
      <p>&copy; {{ currentYear }} Interblock.
        <p>Todos os direitos reservados.</p>
        <P> esse  projeto foi desenvolvido sem fins lucrativos
            apenas para fins educacionais
        </P>
    </div>
  </div>
</footer>
